<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >KazMunaiGaz</a>
            </div>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{login}}  ({{role}}) <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#!/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                        <li>
                            <a href="#!/settings"><i class="fa fa-cog"></i> Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
         
        </nav>
        <div id="page-wrapper">
<div class="container-fluid">
    

               

                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">

                            <div class="form-group">
                                <label>Are you sure to delete the scenario "{{rs.number}}"?</label>
                            </div>

                            <button ng-click="delete()" class="btn btn-primary">Yes</button>
                            <a href="#!/assets/{{assetId}}/oil/{{oilId}}/oil_table" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
                <!-- /.row -->


    </div>
            <!-- /.container-fluid -->

</div>
        <!-- /#page-wrapper -->