
        <div id="page-wrapper">
<div class="container-fluid">

               

                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">

                            <div class="form-group">
                                <label>Are you sure to delete the scenario "{{rs.number}}"?</label>
                            </div>

                            <button ng-click="delete()" class="btn btn-primary">Yes</button>
                            <a href="#!/assets/{{assetId}}/oil/{{oilId}}/oil_table" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
                <!-- /.row -->


    </div>
            <!-- /.container-fluid -->

</div>
        <!-- /#page-wrapper -->