<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >KazMunaiGaz</a>
            </div>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{login}}  ({{role}}) <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#!/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                        <li>
                            <a href="#!/settings"><i class="fa fa-cog"></i> Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" ng-hide="hide">
                    <li>
                        <a href="#!/assets/{{assetId}}/asset_table">Oil Fields</a>
                    </li>
                    <li>
                        <a href="#!/assets/{{assetId}}/oil/{{oilId}}/oil_table">Scenarios</a>
                    </li>
                    <li>
                        <a href="#!/assets/{{assetId}}/oil/{{oilId}}/mem_table">Members</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                
                
                <a href="javascript:history.back();" class="btn btn-default">Back</a>
                <br/><br/><br/>

                
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Credit payment:</label>
                            <p class="form-control-static">{{year.creditPayments}} $</p>
                        </div>
                        <div class="form-group">
                            <label>Oil field development cost:</label>
                            <p class="form-control-static">{{year.fieldDevelopmentCost}}  $</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Oil sold:</label>
                            <p class="form-control-static">{{year.oilSold}} barrel</p>
                        </div>
                        <div class="form-group">
                            <label>Oil price:</label>
                            <p class="form-control-static">{{year.oilPrice}} $</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>